# Configuración de CP GLOW (Plantilla pública para GitHub)
VITE_WHATSAPP_PHONE=573008318310
VITE_STORE_NAME=CP GLOW
VITE_STORE_SLOGAN=Belleza, Brillo y Cuidado Exclusivo
VITE_CURRENCY=COP
VITE_CURRENCY_SYMBOL=$

# Credenciales administrativas (Definir privadamente en tu archivo .env local o en las variables de Vercel)
VITE_ADMIN_USER=
VITE_ADMIN_PASSWORD=
